﻿* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
    font-family: Arial,Helvetica,sans-serif;
    color: #FFFFFF;
    font: 80%/18px Arial,Helvetica,sans-serif;
	background-color: #52514E;
}

h1
{
	margin: 8pt 8pt 16pt 8pt;
}

div#main
{
	width: 80%;
	margin: 0 auto 50px;
}

div#top
{
	display:block;
}

div#dpr_list
{
	width: 40%;
	border-style: solid;
	border-width: thin;
	display:block;
	float:left;
	overflow:auto;
	min-height: 400px;
	max-height: 400px;
}
div#dpr_files
{
	width: 58%;
	border-style: solid;
	border-width: thin;
	display:block;
	float:left;
	overflow:auto;
	min-height: 400px;
	max-height: 400px;
}

div#top_left
{
	width: 25%;
	border-style: solid;
	border-width: thin;
	display:block;
	float:left;
	min-height: 400px;
	max-height: 400px;
	overflow: auto;
}

div#top_right
{
	border-style: solid;
	border-width: thin;
	display: block;
	float: left;
	min-height: 400px;
	max-height: 400px;
	overflow: auto;
	width: 74.4%;
}

div #Bottom
{
	clear:both;
	display:block;
	padding:0;
	width:99.8%;
}

div#menu
{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

table#dlProjecstList
{
}

td.list_header
{
	color: #FFFFFF;
	background-color: #2B2926;
	font-weight: bold;
}

.max_table
{
    width:100%;
}

.header
{
	color: #FFFFFF;
	background-color: #2B2926;
	font-weight: bold;
    text-align: Left;
}

.alternate
{
    background-color:#666562; /*#202020;*/
}

.selected
{
    /*background-color:Gray;*/
    background-color:#CC0000;
  	font-weight: bold;
	/*color: #CC0000;*/

}

td.sel_proj /*a*/
{
	font-weight: bold;
    background-color:#CC0000;
/*	color: #CC0000;*/
}

td.list_alt
{
	background-color: #666562;
}

select.list_rep_files
{
}

a.menu_item
{
	/*float:left;*/
	padding-left : 20px;
}

a, a:link, a:visited {
    color: #F29E00;
    font-weight: bold;
    text-decoration: underline;
}

#Bottom #BottomLayoutTable
{
	table-layout:fixed;
	width:100%;
	border:1px solid white;
}

#treeSVN.tree
{
	table-layout:auto;
	/*width:auto;*/
}

#Bottom #treeSVN.tree td.sel_folder
{
	background-color: #CC0000;
	font-weight: bold;
}

#Bottom .tdControlContainer {
	vertical-align:top;
}

#Bottom p
{
	margin:0;
}

.filelist
{
    font: 12.8px Courier,Arial,Helvetica,sans-serif;
    line-height:18px;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    border:0;
}

.modalPopup
{
    border-width: 2px;
    border-style: solid;
    border-color: #F29E00;
    background-color: #42413E;
    padding: 0.5em;
    width:600px;         

}

 .popup
 {
    border-collapse:collapse;
    table-layout:fixed;
	width:100%;         
 }
 
.popup td:first-child
  {
      width:20%;
  }

 div#treeSVN
 {
	display: block;
	min-height: 250px;
	max-height: 250px;
	display: block;
	/*float: left;*/
	overflow:auto;
 }
 
